<h1>Listing moment_items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Video</th>
      <th>Audio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @moment_items.each do |moment_item| %>
      <tr>
        <td><%= moment_item.title %></td>
        <td><%= moment_item.video %></td>
        <td><%= moment_item.audio %></td>
        <td><%= link_to 'Show', moment_item %></td>
        <td><%= link_to 'Edit', edit_moment_item_path(moment_item) %></td>
        <td><%= link_to 'Destroy', moment_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moment item', new_moment_item_path %>
