<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @moment_item.title %>
</p>

<p>
  <strong>Original:</strong>
  <%=video_tag  @moment_item.video,poster: @moment_item.video.thumb, :size => "320x240", :controls => true   %>


  <strong>720p:</strong>
  <%=video_tag  @moment_item.video.p720,poster: @moment_item.video.thumb, :size => "320x240", :controls => true   %>

  <strong>480p:</strong>
  <%=video_tag  @moment_item.video.p480,poster: @moment_item.video.thumb, :size => "320x240", :controls => true   %>
</p>

<p>
  <strong>Audio:</strong>
  <%=@moment_item.audio%>
</p>

<%= link_to 'Edit', edit_moment_item_path(@moment_item) %> |
<%= link_to 'Back', moment_items_path %>
